/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../png/fundo2.png');
    background-size: cover; /* para ajustar o tamanho da imagem */
    background-position: auto; /* para posicionar a imagem */
}

header {
    background-color: #874caf;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.menu-icon img {
    width: 40px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.inicio-button, .contratos-button, .alugar-button, .propriedades-button, .logout-button {
    background-color: rgba(0, 0, 0, 0.63);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.propriedades-button {
    background-color: rgba(212, 64, 64, 0.63);
}

.container {
    width: 90%;
    max-width: 400px; /* Ajusta a largura máxima para o retângulo menor */
    margin: 20px auto;
    background-color: rgba(248, 248, 248, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centraliza o texto e o conteúdo dentro do container */
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; /* Alinha os itens no centro horizontalmente */
}

label {
    font-weight: bold;
    margin-bottom: 10px
}

input[type="text"],
textarea,
select {
    width: 100%;
    max-width: 300px; /* Ajusta a largura máxima dos campos de entrada */
    padding: 10px;
    border: 2px solid #535151;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    background-color: #957dad;
    box-shadow: 0 0 0 2px rgb(0, 0, 0); /* Adiciona sombra */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #805d9a;
}

.contracts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centraliza os itens dentro do container */
}

.contract-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px; /* Ajusta a largura máxima dos itens de contrato */
    position: relative;
    text-align: center; /* Centraliza o texto dentro dos itens de contrato */
}

.contract-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contract-item h3 {
    margin-bottom: 10px;
}

.contract-item p {
    margin-bottom: 15px;
}

.contract-item a {
    display: inline-block;
    padding: 10px;
    background-color: #957dad;
    box-shadow: 0 0 0 2px rgb(0, 0, 0); /* Adiciona sombra */
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
}

.contract-item a:hover {
    background-color: #805d9a;
}

/* Abas */
.tabs {
    display: flex;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    margin-top: 50px;
    align-items: center;
    justify-content: center; /* Centraliza as abas horizontalmente */
}

.tab {
    flex: 1;
    padding: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #e0e0e0;
}

.tab.active {
    background-color: #fff;
    font-weight: bold;
    border-top: 2px solid #007bff;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 400px; /* Ajusta a largura máxima do conteúdo das abas */
    margin: 0 auto; /* Centraliza o conteúdo das abas horizontalmente */
    background: #805d9a25;
}

.tab-content.active {
    display: block;
}

/* Media queries for responsiveness */
@media screen and (min-width: 576px) {
    .container {
        width: 80vw;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 70vw;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 60vw;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 50vw;
    }
}
